* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic utility style */
.flex {
    display: flex;
}
.clm {
    flex-direction: column;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.center {
    align-items: center;
}
.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}
.g3 {
    gap: 3rem;
}






/* Common styles */
.ptext {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.btn {
    font-size: 20px;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;

    padding: 20px 25px;
}
.btn:hover {
    scale: 1.02;
    box-shadow: 4px 4px 16px 8px #bdb5ac3f;
}
.section-header {
    font-size: 45px;
    font-weight: 900;
    color: #131313;
}







/* styling-start */

/* styling header and hero-sectin/banner-section */
.header {
    background-color: #ff8f0e33;
}
.navbar {
    max-width: 1480px;
    margin: 0 auto;
    padding: 1rem;
}
.navbar .logo {
    font-size: 2.8rem;
    font-weight: 900;
    color: #131313;
}
.navbar .menu {
    list-style: none;
}
.navbar .menu li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #424242;
}
.header-heading {
    font-size: 4rem;
    font-weight: 900;
    color: #131313;
}
.header-container .content {
    max-width: 862px;
    margin: 102px auto 0px auto;
    text-align: center;
}
.banner-image {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px 0px 45px 0px
}
.banner-image img {
    width: 100%;
}




/* styling quick list section */

.quick-list-container {
    max-width: 1440px;
    padding-top: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.quick-list-container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rf 1rf;
    gap: 24px;
}
.quick-list-container .content {
    justify-content: center;
    gap: 2rem;
}
.quick-list-container .content h1 {
    font-size: 45px;
}
.dark3{
    font-weight: 400;
    color: #727272;
}
.brown{
    color: #FF900E;
}


/* Feature section */
.feature-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 54px;
    margin-top: 130px;
}
.feature-container .feature-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-content-title {
    border-left: 0.3rem solid #FF900E;
    padding-left: 5px;
    margin-bottom: 24px;
}
.feature-container .feature-content .card {
    max-width: 37rem;;
    padding: 2rem;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 30px;
}
.feature-container .feature-content .card .card-title {
    font-size: 20px;
    font-weight: 800;
    color: #131313;
    margin-bottom: 9px;
}
.feature-container .feature-content .card .card-description {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.feature-container .feature-image img {
    width: 100%;
}
#tenyrs {
    font-size: 45px;
    font-weight: 900;
}

.feature-btn {
    margin-left: -100px;
    margin-top: -100px;
}




/* facts section */

.fact-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.fact-card-container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}

.fact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 35px 45px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}



/* sponsor */

.sponsor-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 180px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sponsor-container .sponsor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sponsor-container .sponsor-content h3 {
    margin-bottom: 24px;
}
.sponsor-container .sponsor-logo-container {
    display: flex;
    justify-content: space-around;
}
.copyright {
    background-color: #FFF4E7;
    padding: 40px 0;
    text-align: center;
    margin: 130px 0 240px 0;
}
.copyright p {
    font-size: 20px;
    color: #424242;
}
.sponsors {
    filter: grayscale(100%);
}


/* responsive design */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        gap: .5rem;
        margin-top: 1rem;
    }
    .header-container .content{
        margin-top: 20px;
        padding: 1rem;
    }
    .quick-list-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .quick-list-container .content{
        padding: 1rem;
        align-items: center;
    }
    .quick-list-container .grid {
        grid-template-columns: 1fr;
    }
    .feature-container {
        flex-direction: column;
    }
    .feature-container{
        padding: 1rem;
    }
    .feature-btn {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .fact-content {
        text-align: center;
        padding: 10px;
    }
    .fact-container {
        width: 100%;
        margin-top: 50px;
    }
    .fact-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fact-card-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 50px;
    }
    .sponsor-container .sponsor-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    }
    .copyright {
    background-color: #FFF4E7;
    padding: 20px 0;
    text-align: center;
    margin: 50px 0 60px 0;
    }

}
